[Unit]
Description=Music Game Video Helper Celery Worker
After=network.target redis-server.service

[Service]
Type=simple
User=root
WorkingDirectory=/opt/music-game-video-helper/backend
Environment="PATH=/opt/music-game-video-helper/backend/venv/bin"
ExecStart=/opt/music-game-video-helper/backend/venv/bin/celery -A task worker --loglevel=info
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
